<h2>Borrow history of {{ book.bookName }}</h2>
<table class="table table-info table-striped">
    <thead>
        <tr>
            <th> {{ 'borrow.userId' | translate }} </th>
            <th> {{ 'borrow.issueDate' | translate }} </th>
            <th> {{ 'borrow.returnDate' | translate }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let borrower of borrow">
            <!-- <td> {{ getUserData(borrower.userId) }} </td> -->
            <td> {{ borrower.userId }} </td>
            <td> {{ borrower.issueDate }} </td>
            <div *ngIf="borrower.returnDate != null">
                <td> {{ borrower.returnDate }} </td>
            </div>
            <div *ngIf="borrower.returnDate === null">
                <td> {{ 'borrow.notReturnedYet' | translate }} </td>
            </div>
        </tr>
    </tbody>
</table>